body {
  background-color: hsl(30, 38%, 92%);
  height: 100vh;
  align-items: center;
}

.card {
  height: 250px;
  width: 650px;
}
.image {
  width: 100%;
}

.h6 {
  color: hsl(228, 12%, 48%);
}